<style>

img, #myTargetElement, .myBlue {
  border-style: dashed; 
  padding: 15px 15px; 
  background-color: aliceblue
}


img, #myTargetElement, .myBlue {
  border-style: dashed; 
  padding: 15px 15px; 
  background-color: aliceblue
}

.myfont{
font-size
}

</style>